body {
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.aboutMe {
    background-color: #2636b0;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

.section .overlay-wrapper .center{
    background-color: rgba(0, 0, 0, 0.61);
    width: 100%;
    height: 100%; 
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.section-heading .overlay-wrapper h2 {
    font-size: 3em;
}

.section .overlay-wrapper .divider,.section .section-wrapper .divider {
    display: block;
    margin: 30px 0;
    width: 100px;
    height: 2px;
    background-color: #00b7c7;
}

#contact-form .form-wrapper .input-wrapper .input-label {
    display: block;
    font-family: Gotham,Helvetica,Arial,sans-serif;
    font-size: .9em;
    font-weight: 700;
    text-transform: uppercase;
    transform: translateY(25px);
    color: #f2f2f2;
    margin-bottom: 10px;
    transition: all .5s ease-in-out;
}

#contact-form .form-wrapper .input-wrapper:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #121111;
    color: #000;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out
}

#contact-form .form-wrapper .input-wrapper:after {
    background-color: #f2f2f2;
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: all .5s ease-in-out
}

.input-label .contact-input {
    width: 100%;
    height: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#footer .copyright-wrapper center p {
    margin: 0;
    color: #f2f2f2;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    text-align: justify;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
}

.aboutMe-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.aboutMe-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot-container {
    display: flex;
    align-items: right;
}

.headshot {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.punjabi-restaurant-form {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;   
}

.hamburger:focus{
    outline: 0;
}

@media only screen and (max-width:1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;  
        margin: 20px;  
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2e40cd;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        align-items: flex;
        flex-direction: column-reverse;
        background-color: #2e40cd;
    }

    .logo {
        display: none;
    }

    .section .overlay-wrapper {
        padding: 100px 25px;
    }
}